@media (min-width: 320px) {
  .header-text {
    width: 120px;
    padding: 0.5em;
  }
  .header {
    height: 60px;
    background-color: var(--main-header-color);
  }
  .breadcrumb ul {
    margin-left: -40px;
  }
  .breadcrumb li {
    font-size: 0.75em;
    margin-left: 0.5em;
    max-width: 100px;
  }
  .register-input {
    max-width: 40px;
    max-height: 40px;
  }

  .meter-data {
    min-width: 400px;
    margin-left: 32px;
  }
  .meter-data div {
    font-size: 0.8em;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .fade-container table {
    width: 500px;
  }
}
@media (min-width: 961px) {
  .fade-container table {
    width: 600px;
  }
  .meter-data div {
    font-size: 1em;
  }
}
@media (min-width: 1025px) {
  .header-text {
    line-height: 10px;
    width: 120px;
    padding: 20px 40px;
  }
  .header {
    flex-direction: row;
    justify-items: flex-start;
    height: 2em;
  }
}
@media (min-width: 1281px) {
  .header-text {
    line-height: 10px;
    width: 120px;
    padding: 20px 40px;
  }
  .header {
    flex-direction: row;
    justify-items: flex-start;
    height: 2em;
  }
  .meter-data div span {
    font-size: 1em;
  }
}

.container-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-row {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 5em;
  background-color: var(--main-header-color);
}

.header-text {
  background-color: var(--main-header-color);
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  margin: auto;
  padding: 20px 40px;
  -webkit-font-smoothing: antialiased;
  color: var(--header-text-color);
}

.name-display {
  display: flex;
  flex-direction: row;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}

.table-container .fade-container {
  align-self: center;
}

.cell-checkbox {
  max-width: 50px;
}

.select-table th:first-child {
  width: 140px;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
​ .fade-container {
  width: 100%;
}
.fadeIn {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.fadeOut {
  -webkit-animation: fadeout 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout 2s; /* Firefox < 16 */
  -ms-animation: fadeout 2s; /* Internet Explorer */
  -o-animation: fadeout 2s; /* Opera < 12.1 */
  animation: fadeout 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg #spinner {
  animation-name: rotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

svg #spinner use {
  animation-name: fade;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

svg #spinner use:nth-child(1) {
  animation-delay: 100ms;
}
svg #spinner use:nth-child(2) {
  animation-delay: 200ms;
}
svg #spinner use:nth-child(3) {
  animation-delay: 300ms;
}
svg #spinner use:nth-child(4) {
  animation-delay: 400ms;
}
svg #spinner use:nth-child(5) {
  animation-delay: 500ms;
}
svg #spinner use:nth-child(6) {
  animation-delay: 600ms;
}
svg #spinner use:nth-child(7) {
  animation-delay: 700ms;
}
svg #spinner use:nth-child(8) {
  animation-delay: 800ms;
}

.breadcrumb {
  align-self: center;
}

.breadcrumb ul {
  font-family: sans-serif;
  display: inline-flex;
  margin: 10px auto;
  overflow: hidden;
  font-size: 1.25em;
  font-style: italic;
}

.breadcrumb li {
  position: relative;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  max-width: 400px;
}

.breadcrumb_inactive {
  border-bottom: 1px solid var(--breadcrumb-inactive-color);
}

.breadcrumb_active {
  border-bottom: 1px solid var(--breadcrumb-active-color);
}

.register-input {
  box-sizing: border-box;
  padding: 5px 5px;
  margin: 0 1%;
  font-size: 25px;
  color: #888888;
  text-shadow: 0 2px 1px rgb(0 0 0 / 50%);
  text-align: center;
  width: 80px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 0;
  transition: 0.2s;
  height: 80px;
  border: 1px solid #888888;
}

.register-input:invalid {
  background: rgba(135, 30, 30, 0.33);
}
.register-input:focus {
  background: rgba(255, 255, 255, 0.05);
  outline: none;
}

.register-number {
  text-align: center;
  top: 150px;
  left: 32px;
  right: 32px;
  padding: 2em;
  margin: 10px 5px 10px 5px;
  font-size: 0; /* fix for whitespace bug */
}

.register-number div {
  margin-bottom: 12px;
}

.valid-reading {
  background-color: #3f8f26;
  transition: 0.12s;
}

.invalid-reading {
  background-color: #8c2020;
  -webkit-animation: 0.5s 1 shake linear;
  animation: 0.5s 1 shake linear;
  transition: 0.12s;
}

.meter-data {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  width: 50%;
  align-self: center;
  text-align: center;
}

.meter-read-title {
  align-self: center;
  border-top: 1px solid #888888;
  margin: 0.25em;
  padding: 0.25em;
}
.meter-data div {
  display: inline-block;
  font-weight: 900;

  line-height: 30px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  color: #888888;
}

.minimal-btn {
  background: transparent;
  border: 2px solid #888888;
  border-radius: 3px;
  color: #888888;
  font-weight: 400;
  padding: 14px 20px;
  text-transform: uppercase;
  max-width: 150px;
  margin: 10px;
}

.button.minimal-btn:hover {
  background: #888888;
  border: none;
  color: #ffffff;
  padding: 16px 32px;
}
